<div class="bannerCoder ">
   
  <div class="textIntro">
    <h1>Expo Coder</h1>
    <p class="mb-0">¿Querés desarrollar apps, juegos, webs y más?</p>
    <p>¡Inscribite!</p>
    <a href="#">Ver más</a>
  </div>

  <div class="bannerOpacity"></div>
</div>

<div class="container-fluid my-5 contInfo">
  <div class="row">
    <div class="col-sm-6 Info">
      <p>Más de 2.000 participantes aprendieron programación en las
        últimas edición</p>
      
      <p class="m-0">Por segundo año consecutivo, la Ciudad desarrolla un
        innovador evento para que cualquier ciudadano pueda aprendieron
        un nuevo lenguaje, el de la programación, que les permitirá armar
        una página web, aplicaciones y juegos.</p>
    </div>

    <div class="col-sm-6 image2" >
      <img src="../../assets/img/2350.jpg" alt="">
    </div>
</div>
</div>