<footer>
<section class="contenFooter">
  <div class="container-fluid footerBA">
    <div class="row">
      <div class="logoba2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <a href="#"><img src="../../assets/img/ba-footer.png" alt=""></a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 acercaDe">
        <p>acerca de este sitio</p>
        <ul>
          <li><a href="http://www.buenosaires.gob.ar/innovacion/ciudadinteligente/terminos-y-condiciones">Términos y condiciones</a></li>
          <li><a href="http://www.buenosaires.gob.ar/privacidad">Política de privacidad</a></li>
          <li><a href="http://www.buenosaires.gob.ar/innovacion/ciudadinteligente/gestiondigital/webs-y-apps">Sobre esta web</a></li>
          <li><a href="http://www.buenosaires.gob.ar/mapadesitio">Mapa de sitio</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 telUtiles">
          <p>teléfonos Útiles</p>
          <ul>
              <li><a href=""><i class="fas fa-phone fa-flip-horizontal"></i>103 | Emergencias</a></li>
              <li><a href=""><i class="fas fa-phone fa-flip-horizontal"></i>107 | SAME</a></li>
              <li><a href=""><i class="fas fa-phone fa-flip-horizontal"></i>108 | Línea Social</a></li>
              <li><a href=""><i class="fas fa-phone fa-flip-horizontal"></i>147 | Atención Ciudadana</a></li>
              <li><a href=""><i class="fas fa-phone fa-flip-horizontal"></i>144 | Violencia de Género</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 contacto">
          <p>contacto</p>
          <hr class="hidden-lg hidden-md">

          <div class="redes">
              <a href="https://www.facebook.com/gcba" target="_blank">
              <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x face"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://twitter.com/gcba" target="_blank">
              <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x face twitt"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://www.youtube.com/user/GCBA" target="_blank">
              <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x face youtube"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://www.instagram.com/buenosaires/" target="_blank">
              <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x face insta"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://www.buenosaires.gob.ar/rss/noticias" target="_blank" class="mr-0">
              <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x face news"></i>
                  <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span></a>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 legales">
          <hr class="hidden-lg hidden-md">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 textLegal pull-right">
              <p>Los contenidos de Gobierno de la Ciudad Autónoma de Buenos Aires están licenciados bajo Creative Commons Reconocimiento 2.5 Argentina License</p>
            </div>
            
            <div class="col-md-6 col-sm-12 col-xs-12 logoCiudad pull-left">
              <a href="http://www.buenosaires.gob.ar/" target="_blank"><img src="../../assets/img/bac-footer.png" alt=""></a>            
            </div>          
          </div>

        </div>
    </div>
  </div>
</section>
</footer>
